  body {
      padding: 0;
      margin: 0;
  }
  html, body {
      height: 100%;
  }
  #map {
      width: 100%;
      height: 100%;
      position: relative;
  }
  #exposeModal {
      margin: 0px;
      width: 30%;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 99;
      background-color: rgb(252, 231, 253);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  #exposePics {
      flex: 1;
  }
  .propertyImage {
      flex: 1;
      width: 100px;
      margin: 15px;
  }
  #exposeDetails {
      flex: 2;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin: 10px;
  }
  #exposeRow1 {
      display: flex;
      flex-direction: row;
  }
  #exposeRow1 > * {
      flex: 1;
  }
  #exposeRating {
      width: 160px;
      height: 110px;
      display: inline;
  }
  #exposeAddress {
      margin: none;
      height: 150px;
      flex: 1;
      font-family:'Muli', sans-serif;
      font-size: 20px;
  }
  #exposeStats {
      flex: 2;
  }
  #statsTable {
      border-collapse: collapse;
      border-spacing: 0px;
      cell-spacing: 0px;
      cell-padding: 0px;
  }
  .statsCells {
      border: solid 2px black;
      height: 100px;
      font-family:'Muli', sans-serif;
  }
  .statsVal {
      font-size: 32px;
  }
  td {
      width: 100px;
      text-align: center;
  }
  #goToListing {
      font-size: 16px;
      width: 66%;
      height: 40px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      background-color: rgb(0, 0, 0);
      color: white;
      font-family:'Fredoka One', cursive;
      display: inline;
  }
  #criteriaModal {
      margin: 0px;
      width: 20%;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 99;
      background-color: rgb(252, 231, 253);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #criteriaTitle {
      flex: 1;
      font-family:'Fredoka One', cursive;
  }
  #sortable {
      width: 75%;
      list-style-type: none;
      margin: 0px 10px 10px;
      padding: 0;
      display: block;
      flex: 1;
  }
  .ui-state-default {
      background-color: rgb(252, 231, 253);
      border: solid white 1px;
      border-radius: 2px;
      box-shadow: none;
      padding: 5px 10px 5px;
      margin-bottom: 2px;
      font-family:'Fredoka One', cursive;
  }
  .ui-state-placeholder {
      background-color: rgb(252, 231, 253);
      height: 1.5em;
      line-height: 1.2em;
  }
  .indexNum {
      width: 25px;
      display: inline;
      line-height: 1em;
      text-align: center;
      padding: 0px 5px 0px;
      font-weight: 700;
      font-family:'Fredoka One', cursive;
  }
  .indexNum p {
      display: inline;
  }
  .eye {
      width: 18px;
      margin: 3px 3px 0px;
  }
  .eyeArea {
      width: 20px;
      height: 20px;
      display: inline;
  }
  #startSearch {
      font-size: 16px;
      width: 66%;
      height: 40px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: none;
      background-color: rgb(234, 37, 45);
      flex: 1;
      font-family:'Fredoka One', cursive;
  }